<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-text color="">
      <h1 class="text">
        Gracias por utilizar mi aplicación. Mi nombre es Alexis Francisco Amézquita Almonte, 
        Desarrollador Web con experiencia en Desarrollo Móvil y en Desarrollo de Aplicaciones de Escritorio.
      </h1>
    </ion-text>
  </ion-item>

  <ion-item>
    <img src="assets/img/acercade/yo.jpg" alt="foto mía">
  </ion-item>

  <ion-item>
    <ion-label>
      <h1 class="textContratame">
        Mis redes:
      </h1>
      <p class="textContratameLinks">
        <a href="https://github.com/Alexisfco10" target="_blank">Github</a>&nbsp;
        <a href="https://twitter.com/Alexisfco10" target="_blank">Twitter</a>&nbsp;
        <a href="https://t.me/Alexisfco10" target="_blank">Telegram</a>&nbsp;
        <a href="https://www.instagram.com/alexis_fco10/" target="_blank">Instagram</a>
      </p>
    </ion-label>
  </ion-item>

</ion-content>
